<div class="container">
    <br><br>
    <h1>Add Account</h1>
    <div>
        <form #customerForm="ngForm">
           
                <div class="form-group row">
                    <div class="col-xs-4">
                    <label for="customerName">Name:</label>
                    <input required type="text" #accountIdRef="ngModel" pattern=[a-zA-Z\s]* 
                        placeholder="Enter Customer name" id="customerName" required [(ngModel)]="customer.customerName"
                        name="customerName" class="form-control">
               
                <div *ngIf='accountIdRef.errors && accountIdRef.touched' class="alert alert-danger">
                    <div [hidden]='!accountIdRef.errors.required'> Provide Customer Name </div>
                    <div *ngIf='accountIdRef.errors.pattern'>Customer Name should be only alphabets</div>
                    
                </div>
                </div>

            </div>
            <br>
            <div class="form-group row">
                <div class="col-xs-4">
                    <label for="customerName">Contact:</label>
                <input type="text" #contactRef="ngModel" pattern=[0-9]* minlength="10" maxlength="10"
                    placeholder="Enter Contact number" id="contactNumber" required [(ngModel)]="customer.contactNumber"
                    maxlength="10" name="contactNumber" class="form-control">
              
                <div *ngIf='contactRef.errors && contactRef.touched' class="alert alert-danger">
                    <div [hidden]='!contactRef.errors.required'> Provide Customer Number </div>
                    <div *ngIf='contactRef.errors.pattern'>Customer Number should be only numbers</div>
                    <div *ngIf='contactRef.errors.minlength'>Customer Name should be atleast 10 letters</div>
                    <div *ngIf='contactRef.errors.maxlength'>Customer Name should be of 10 letters</div>
                </div>
            </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-xs-4">
                    <label for="customerName">Aadhar number:</label>

                <input type="text" #aadharRef="ngModel" pattern=[0-9]* minlength="12" maxlength="12"
                    placeholder="Enter Aadhar number" id="aadharNumber" required [(ngModel)]="customer.aadharNumber"
                    maxlength="12" #uname="ngModel" name="aadharNumber" class="form-control">
               
                <div *ngIf='aadharRef.errors && aadharRef.touched' class="alert alert-danger">
                    <div [hidden]='!aadharRef.errors.required'> Provide Customer aadhar Number </div>
                    <div *ngIf='aadharRef.errors.pattern'>Aadhar Number should contain only numbers</div>
                    <div *ngIf='aadharRef.errors.minlength'>Aadhar Number should be of 12 digits</div>
                    <div *ngIf='aadharRef.errors.maxlength'>Aadhar Number should be of 12 digits</div>
                </div>
            </div>
            </div><br>
            <div class="form-group row">
                <div class="col-xs-4">
                    <label for="customerName">Pan number:</label>

                <input type="text" #panRef="ngModel" pattern="[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}" minlength="10"
                    maxlength="10" placeholder="Enter pannumber" id="panNumber" required
                    [(ngModel)]="customer.panNumber" name="panNumber" class="form-control">
              
                <div *ngIf='panRef.errors && panRef.touched' class="alert alert-danger">
                    <div [hidden]='!panRef.errors.required'> Provide Customer pan number </div>
                    <div *ngIf='panRef.errors.pattern'>First 5 characters should be alphabets, next 4 characters must be
                        digits and the last character must be alphabet</div>
                    <div *ngIf='panRef.errors.minlength'>pan Number should be of 10 characters</div>
                    <div *ngIf='panRef.errors.maxlength'>pan Number should be of 10 characters</div>
                </div>
            </div>
            </div><br>
            <div class="form-group row">
                <div class="col-xs-4">
                    <label for="customerName">Date of birth:</label>

                <input type="text" #dateRef="ngModel" placeholder="Enter Date of birth" id="dateOfBirth" required
                    [(ngModel)]="customer.dateOfBirth" type="date" name="dateOfBirth" class="form-control datepicker"
                    value="" required />
            
                <div *ngIf='dateRef.errors && dateRef.touched' class="alert alert-danger">
                    <div [hidden]='!dateRef.errors.required'> Provide Date of birth </div>
                    <div *ngIf='dateRef.errors.pattern'>Enter valid date of birth</div>
                    <div class="invalid-feedback">Please select a valid date.</div>
                </div>
            </div>
            </div><br>
            <div class="form-group row">
                <div class="col-xs-4">
                    <label for="customerName">Gender:</label>
                    <br>

               <!---- <input type="text" #genderRef="ngModel" pattern=[a-zA-Z][a-zA-Z]* placeholder="Enter Gender" id="gender"
                    required [(ngModel)]="customer.gender" name="gender" class="form-control">
                 <div *ngIf='genderRef.errors && genderRef.touched' class="alert alert-danger">
                    <div [hidden]='!genderRef.errors.required'> Provide gender </div>
                    <div *ngIf='genderRef.errors.pattern'>Gender can be male or female</div>
                </div>-->
                    <div class=" custom-radio custom-control-inline">
                        <input type="radio" value="male" name="customer.gender" [(ngModel)]="customer.gender" >Male
                    
                      </div>
                      <div class="custom-radio custom-control-inline">
                        <input type="radio" value="female" name="customer.gender" [(ngModel)]="customer.gender">
                        <label>Female</label>
                      </div>
                </div>
               
               
            </div><br>
            <div class="form-group row">
                <div class="col-xs-4">
                    <label for="customerName">Address:</label>

                <input type="text" #addressRef="ngModel" placeholder="Enter address" id="address" required
                    [(ngModel)]="customer.address"  name="address" class="form-control">
               
                <!--<div *ngIf='addressRef.errors && addressRef.touched' class="alert alert-danger">
        <div [hidden]='!addressRef.errors.required'> Provide Customer Address</div>
        <<div *ngIf='addressRef.errors.pattern'>Address includes state district city etc</div>
        
        </div>-->
    </div>
            </div><br>
            
<div class="form-group row">
    <div class="col-xs-4">
        <label for="customerName">Branch:</label>

                <input type="text" #branchRef="ngModel" id="branch" placeholder="Enter Branch" required
                    [(ngModel)]="customer.account.branch" name="branch" class="form-control">
  
                <div *ngIf='branchRef.errors && branchRef.touched' class="alert alert-danger">
                    <div [hidden]='!branchRef.errors.required'> Provide Branch</div>

                </div>
                </div>

            </div><br>
            <div class="form-group row">
                <div class="col-xs-4">
                    <label for="customerName">Account type:</label>

                <input type="text" #accountRef="ngModel" placeholder="Enter account Type" id="accountType" required
                    [(ngModel)]="customer.account.accountType" name="accountType" class="form-control">
               
                <div *ngIf='accountRef.errors && accountRef.touched' class="alert alert-danger">
                    <div [hidden]='!accountRef.errors.required'> Provide AccountType, it can be savings or current</div>
                </div>

                </div>
            </div><br>
            <div class="form-group row">
                <div class="col-xs-4">
                    <label for="customerName">Amount:</label>

                <input type="number" #amountRef="ngModel" pattern=[0-9]* placeholder="Enter amount" id="amount" required
                    [(ngModel)]="customer.account.amount" name="amount" class="form-control">
               
                <div *ngIf='amountRef.errors && amountRef.touched' class="alert alert-danger">
                    <div [hidden]='!amountRef.errors.required'> Provide Amount</div>
                    <div *ngIf='dateRef.errors.pattern'>Enter in digits only</div>
                </div>
                </div>

            </div><br>
            
            <button type="submit" [disabled]="customerForm.invalid" class="btn btn-success"
                (click)="AddAccount()">Submit</button>
        </form>
    </div>
</div>