<!--<div class="container">
    <br><br>
    <h3>update Account</h3>
    <form>
        <div class="form-group">
            <label>Enter Account id : </label>
            <input  type="text" name="accountId" [(ngModel)]="customerdetails.accountId"  class="form-control">
        </div>
        <div class="form-group">
            <label>Enter Customer Name : </label>
            <input  type="text" name="customerName" [(ngModel)]="customerdetails.customerName"  class="form-control">
        </div>
        <div class="form-group">
            <label>Enter Customer Contact : </label>
            <input  type="text" name="contactNumber" [(ngModel)]="customerdetails.contactNumber" maxlength="10" class="form-control">
        </div>
        <div class="form-group">
            <label>Enter Customer Address : </label>
            <input  type="text" name="address" [(ngModel)]="customerdetails.address"  class="form-control">
            
        </div>
        <input  type="submit" value="Update"  (click)="updateAccount()" class="btn btn-success">
</form>
</div>-->
<div style="padding-top: 80px;">

    
<div class="container">
    <nav class="navbar navbar-expand-sm   bg-light  navbar-dark">
      <ul class="nav nav-pills ">
      
      <li class="nav-item " routerLink="active">
       
        <a class="nav-link" class="btn btn-outline-secondary  btn-sm  mr-3" routerLink="/name">Update name</a>
        
      </li>
      
      <li class="nav-item" routerLink="active">
        
        <a class="nav-link" class="btn btn-outline-secondary btn-sm mr-3"  routerLink="/contact">Update contact</a>
    
      </li>
      <li class="nav-item" routerLink="active">
       
        <a class="nav-link" class="btn btn-outline-secondary btn-sm mr-3" routerLink="/address">Update address</a>

      </li>
    
    </ul>

    </nav>
</div>
    
</div>

